
body {
    background-color: #ffc107;
}
#main {
    text-align: center;
}
h1 {
    font-size: 4em;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
    font-weight: 700;
    font-style: italic;
    color: white;
    -webkit-text-stroke: 2px black;
    margin: 0;
}
#pong-canvas {
    border: solid;
}
#score {
    font-size: 4em;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
    -webkit-text-stroke: 2px black;
}