body {
    background-color: #ffc107;
}

h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-style: italic;
    color: white;
    -webkit-text-stroke: 2px black;
}